<div class="slideshow">
  <div class="holder">
    <div class="slide slide-1">
      <span class="container">
        <span class="banner-content">
          <h3>Travel & Adventures</h3>
          <p>Discover amzaing places at exclusive deals.</p>
          <a class="btn btn-style mt-sm-5 mt-4" href="about.html"
            >Explore More</a
          >
        </span>
      </span>
    </div>
    <div class="slide slide-2">
      <span class="container">
        <span class="banner-content">
          <h3 class="mb-2">Your Journey Begins</h3>
          <p>Take advantage of this amazing exclusive offers.</p>
          <a class="btn btn-style mt-sm-5 mt-4" href="about.html"
            >Explore More</a
          >
        </span>
      </span>
    </div>
    <div class="slide slide-3">
      <span class="container">
        <span class="banner-content">
          <h3>Love and Travel</h3>
          <p>Discover amzaing places at exclusive deals.</p>
          <a class="btn btn-style mt-sm-5 mt-4" href="about.html"
            >Explore More</a
          >
        </span>
      </span>
    </div>
    <div class="slide slide-4">
      <span class="container">
        <span class="banner-content">
          <h3>Live your Adventure</h3>
          <p>Take advantage of this amazing exclusive offers.</p>
          <a class="btn btn-style mt-sm-5 mt-4" href="about.html"
            >Explore More</a
          >
        </span>
      </span>
    </div>
  </div>
  <div class="steps"></div>
  <a href="#" class="prev"><i class="fas fa-arrow-left"></i></a>
  <a href="#" class="next"><i class="fas fa-arrow-right"></i></a>
</div>
