<section class="w3l-contact-main py-5 mt-5" id="contact">
  <div class="container py-lg-5 py-md-4 py-2">
    <div class="title-main text-center mx-auto mb-md-5 mb-4">
      <p>My Refund ({{ refunds.length }})</p>
      <p class="title-style">Refund Request Details</p>
      <table class="table table-bordered mt-5">
        <thead>
          <tr>
            <th scope="col">Booking Id</th>
            <th scope="col">Reason</th>
            <th scope="col">Trip Name</th>
            <th scope="col">Departure Time</th>
            <th scope="col">Arrival Time</th>
            <th scope="col">Trip Price</th>
            <th scope="col">Refund Amount</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let refund of refunds">
            <td>{{ refund?.booking_id }}</td>
            <td>{{ refund?.reason ?? "" }}</td>
            <td>{{ refund.trip_name }}</td>
            <td>{{ refund.departure_time }}</td>
            <td>{{ refund.arrival_time }}</td>
            <td>{{ refund.price }}</td>
            <td>{{ refund?.amount ?? "" }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
