
<section class="booking-section" id="contact">
  <h3 style="text-align: center; color:blue ; margin:40px 0px" >My Bookings</h3>
  <div class="booking-container">
    <div class="booking-grid">
      <div class="booking-card" *ngFor="let booking of bookings">
        <!-- Header -->
        <div class="card-header-gradient">
          <span class="booking-id">Booking #{{ booking?.id }}</span>

          <span
            [ngClass]="{
              'status confirmed': booking.status === 'confirmed',
              'status pending': booking.status === 'pending',
              'status cancelled': booking.status === 'cancelled'
            }"
          >
            {{ booking.status | titlecase }}
          </span>
        </div>

        <!-- Body -->
        <div class="card-body">
          <!-- Trip Booking -->
          <div class="info-block" *ngIf="booking.trip_name">
            <label>Trip Name</label>
            <p>{{ booking.trip_name }}</p>
          </div>

          <!-- Package Booking -->
          <div class="info-block" *ngIf="booking.package_name">
            <label>Package Name</label>
            <p>{{ booking.package_name }}</p>
          </div>

          <!-- Hotel Booking -->
          <div class="info-block" *ngIf="booking.hotel_name">
            <label>Hotel</label>
            <p>{{ booking.hotel_name }}</p>
          </div>

          <div class="info-row">
            <div class="info-block">
              <label>Seat</label>
              <span class="seat">{{ booking.seat_ids }}</span>
            </div>

            <div class="info-block">
              <label>Date</label>
              <span class="date">
                {{ booking.created_at | date : "mediumDate" }}
              </span>
            </div>
          </div>
        </div>

        <!-- Actions -->
        <div class="card-actions">
          <a
            class="btn invoice-btn"
            [routerLink]="['/book-invoice', booking.id]"
          >
            Invoice
          </a>

          <button
            *ngIf="
              booking.status !== 'cancelled' &&
              booking.booking_type !== 'hotel booking'
            "
            class="btn cancel-btn"
            (click)="cancelBooking(booking.id)"
          >
            Cancel
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
